# PRACTICA DE R <a class="tocSkip">
## Curso Programacion Analitica <a class="tocSkip">
### Maestria TIC Linea Ciencia de Datos <a class="tocSkip">
### Por [Jose R. Zapata](https://joserzapata.github.io/)  <a class="tocSkip">
joser.zapata@upb.edu.co

<h1>Contenido<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#R-Basico" data-toc-modified-id="R-Basico-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>R Basico</a></span></li><li><span><a href="#Matrices" data-toc-modified-id="Matrices-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Matrices</a></span></li><li><span><a href="#DataFrames" data-toc-modified-id="DataFrames-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DataFrames</a></span></li></ul></div>

# R Basico
**Resuelva los siguientes problemas usando R**

Cuanto es 2 a la 5?

[1] 32

Cree un vector llamado stock.prices con los siguientes datos: 23,27,23,21,34

[1] 23 27 23 21 34

A los datos asignele los nombres de los dias de la semana empezando el lunes

    Lunes    Martes Miercoles    Jueves   Viernes
       23        27        23        21        34

Cual es el valor promedio del precio en la semana?

[1] 25.6

Cree un vector de logicos (booleans) llamado over.23 que consta de lógicos que corresponden a los días en que el precio de las acciones fue más de $23

    Lunes    Martes Miercoles    Jueves   Viernes
    FALSE      TRUE     FALSE     FALSE      TRUE

Utilice el vector over.23 para filtrar el vector stock.prices y solo devuelva el día y los precios donde el precio era superior a $ 23.

 Martes Viernes
     27      34

Use una funcion buil-in para encontrar el dia en el que el precio fue el mas alto

[1] 34

---
# Matrices

Cree 2 vectores A y B, donde A es (1,2,3) y B es (4,5,6). Con estos vectores, use la función `cbind()` o `rbind()` para crear una matriz de 2 por 3 a partir de los vectores. Tendrá que averiguar cuál de estas funciones es la correcta.

  [,1] [,2] [,3]
A 1    2    3
B 4    5    6

Cree una matriz de 3 por 3 que consta de los números 1-9. Cree esta matriz usando el atajo 1: 9 y especificando el argumento nrow en la llamada a la función `matrix()`. Asigne esta matriz a la variable **mat**

Verifique si **mat** es una matrix con la funcion `is.matrix()`

[1] TRUE

Cree una matriz de 5 por 5 que consta de los números del 1 al 25 y asígnala a la variable **mat2**. La fila superior debe ser los números 1-5.

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20
[5,] 21   22   23   24   25

Usando la indexacion, tome una sub-seccion de **mat2** y debe verse asi:
<pre><code>[7,8]
[12,13]</code></pre>

     [,1] [,2]
[1,]  7    8
[2,] 12   13

Usando indexacion, tome una sub-seccion de la matriz **mat2** y se debe ver asi:
<pre><code>[19,20]
[24,25]</code></pre>

     [,1] [,2]
[1,] 19   20
[2,] 24   25

Cual es la suma de todos los elementos en **mat2**?

[1] 325

Averigue como usar `runif()` para crear una matriz de 4 por 5, que tenga 20 numeros aleatorios.

     [,1]     [,2]      [,3]     [,4]      [,5]
[1,] 14.94770 13.774203 72.82328  5.578386 61.86403
[2,] 20.24212  3.113577 77.03066  4.479851  6.59437
[3,] 17.94059 13.482307 82.44716 73.528339 41.30236
[4,] 60.71936 17.492329 41.74117 51.753232 43.68116

---
# DataFrames

Recree el siguiente dataframe, creando vectores y luego la funcion `data.frame()`

      Age Weight Sex
Sam   22  150    M
Frank 25  165    M
Amy   26  120    F

Verifique si mtcars es un dataframe usando la funcion `is.data.frame()`

[1] TRUE

Use `as.data.frame()` para cconvertir una matrix en un dataframe

  V1 V2 V3 V4 V5
1 1   6 11 16 21
2 2   7 12 17 22
3 3   8 13 18 23
4 4   9 14 19 24
5 5  10 15 20 25

Ponga el dataset mtcars incluido en R, en una variable que se llame df

Muestre las primeras 6 filas de df

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

Cual es el valor promedio de mpg de todos los carros

[1] 20.09062

Seleccione las filas donde todos los carros tengan 6 cylinders (cyl column)

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Valiant        18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 280       19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C      17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6

Selecccione ls columnas am,gear, y carb.

                    am gear carb
Mazda RX4           1  4    4
Mazda RX4 Wag       1  4    4
Datsun 710          1  4    1
Hornet 4 Drive      0  3    1
Hornet Sportabout   0  3    2
Valiant             0  3    1
Duster 360          0  3    4
Merc 240D           0  4    2
Merc 230            0  4    2
Merc 280            0  4    4
Merc 280C           0  4    4
Merc 450SE          0  3    3
Merc 450SL          0  3    3
Merc 450SLC         0  3    3
Cadillac Fleetwood  0  3    4
Lincoln Continental 0  3    4
Chrysler Imperial   0  3    4
Fiat 128            1  4    1
Honda Civic         1  4    2
Toyota Corolla      1  4    1
Toyota Corona       0  3    1
Dodge Challenger    0  3    2
AMC Javelin         0  3    2
Camaro Z28          0  3    4
Pontiac Firebird    0  3    2
Fiat X1-9           1  4    1
Porsche 914-2       1  5    2
Lotus Europa        1  5    2
Ford Pantera L      1  5    4
Ferrari Dino        1  5    6
Maserati Bora       1  5    8
Volvo 142E          1  4    2

Cree una nueva columna llamada performance, que es calculada por hp/wt.

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  performance
Mazda RX4         41.98473
Mazda RX4 Wag     38.26087
Datsun 710        40.08621
Hornet 4 Drive    34.21462
Hornet Sportabout 50.87209
Valiant           30.34682

Su columna performance tendrá una precisión de varios decimales. Averigüe cómo usar `round()` (ver help (round)) para reducir esta precisión a solo 2 decimales.

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  performance
Mazda RX4         41.98
Mazda RX4 Wag     38.26
Datsun 710        40.09
Hornet 4 Drive    34.21
Hornet Sportabout 50.87
Valiant           30.35

Cual es el promedio mpg para carros que tengan *hp* mas de 100 y *wt* mas de 2.5

[1] 16.86364

Cual es el *mpg* del Hornet Sportabout

[1] 18.7